
#mapcanvas{
	position: absolute;
	left: 0px;
	top: 60px;
	overflow: hidden;
	width: 100%;
	height: 93%;
	z-index: 0;
}

.difference{
	font-size: 12px;
}

#searchList{
  margin: -15px -15px 15px -15px;
}

/* Install to Home Screen Display */
#install {
  z-index: 9999;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
/*  pointer-events: none;*/
  color: white;
  /*font-family: "AvenirNextCondensed-Medium", "AvenirNextLTW01-MediumC 721311", "Arial Narrow", Verdana, sans-serif;*/
  text-shadow: 1px 1px 0 black;
  overflow: hidden;
  background-image: url('../startup/startup.png');
}
#install .bold {
  /*font-family: "AvenirNextCondensed-Bold", "AvenirNextLTW01-BoldCn", "Arial Narrow", Verdana, sans-serif;*/
}
#install .top {
  margin-top: 25px;
}
#install h2 {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}
#install h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  padding: 0 25px;
}
#install .chrome_instructions {
  display: none;
  position: absolute;
  bottom: 50px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  line-height: 1.3em;
  text-align: center;
}
body.mobile_chrome #install .chrome_instructions {
  display: block;
}
#install .instructions {
  position: absolute;
  bottom: 5px;
  width: 100%;
  font-size: 14px;
  line-height: 1.3em;
  text-align: center;
}
body.mobile_chrome #install .instructions {
  display: none;
}
#install .instructions .pictos {
  display: block;
  width: 100%;
}
body.landscape #install {
  background-image: url('../img/460x320-1.png');
  background-size: 100% 100%;
}
body.landscape #install .instructions .pictos {
  position: relative;
  /*left: -20px;*/
}


